.checkout-order-product {
  display: flex;
  gap: 6px;
  align-items: center;
}

.checkout-order-product img {
  width: 50px;
  height: auto;
}
.checkout-order-product span:nth-of-type(1) {
  font-weight: normal;
  padding: 15px;
  flex: 1;
}
