.section-loading {
    height: 100px;
    width: 100%;
    /*margin: 80px;*/

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}
.list-bars {
    list-style: none;
    display: flex;
    align-items: center;
}

.list-bars li {
    margin: 0 7px;
    width: 8px;
    border-radius: 10px;
    background-color: #1c1c1c;
    animation: animate 0.8s infinite alternate;
}
.list-bars li:nth-child(odd) {
    height: 80px;
    animation-delay: 0.6s;
}
.list-bars li:nth-child(even) {
    height: 20px;
}

@keyframes animate {
    from {
        height: 5px;
    }
    to {
        height: 70px;
    }
}
