.form-title {
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.error-message {
    color: #dd2222;
    margin-top: 2px;
    margin-left: 10px;
}

.invalid {
    background-color: #FFCCCC;
}

.invalid::placeholder {
    color: #111 !important;
}

.disabled-btn {
    cursor: not-allowed;
}
