body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*.swiper-button-next:after {*/
/*  font-size: 18px;*/
/*  color: #1c1c1c;*/
/*  height: 70px;*/
/*  width: 30px;*/
/*  line-height: 70px;*/
/*  text-align: center;*/
/*  border: 1px solid #ebebeb;*/
/*  position: absolute;*/
/*  left: -35px;*/
/*  top: 50%;*/
/*  !*-webkit-transform: translateY(-35px);*!*/
/*  background: #ffffff;*/
/*}*/



